.FS__button {
  margin: 1rem 0 1rem;
  display: flex;
  justify-content: center;
}

.FS__button button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background: none;
  border: 1px solid #ffffff;
  padding: 0.5rem 1.5rem;
  color: #000000;
  cursor: pointer;
  text-wrap: none;
  outline: none;
  border-radius: 5px;
}

@media screen and (max-width: 2560px) and (min-width: 1500px) {
  .FS__button button {
    font-size: 30px;
    padding: 30px;
  }
}
@media screen and (max-width: 1050px) {
  .FS__button button {
    font-size: 16px;
  }
}
@media screen and (max-width: 550px) {
  .FS__button button {
    font-size: 12px;
  }
}
